.ingredientBar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -200px;
  transition: bottom 0.2s ease-in-out;

  &.visible {
    bottom: 81px;
  }
}

.ingredientBarInner {
  width: 1344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inrgedientItem {
  max-width: 140px;
  border: 1px solid #f0f7fa;
  padding: 24px 18px;

  img {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }
  div {
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  span {
    padding: 2px 0;
    font-size: 20px;
    font-weight: 600;
  }
}
