.toolbar {
  position: absolute;
  top: 150px;
  left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;

    path {
      stroke: #bcb9d3;
      transition: stroke 0.2s ease;
    }

    &.active {
      path {
        stroke: #5243c2;
      }
    }

    &:hover {
      path {
        stroke: #5243c2;
      }
    }
  }
}
