.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 94px;
  padding-bottom: 81px;

  h1 {
    max-width: 245px;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
  }

  img {
    max-height: 100%;
  }
}
