.main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 94px 10px 81px 10px;

	h1 {
		max-width: 245px;
		font-weight: 700;
		font-size: 72px;
		line-height: 80px;
	}

	img {
		max-height: 100%;
	}
	@media (max-width: 700px) {
		h1 {
			font-size: 38px;
			line-height: 44px;
		}

		img {
			max-height: 80%;
		}
	}
	@media (max-width: 500px) {
		h1 {
			font-size: 28px;
			line-height: 34px;
		}

		img {
			max-height: 60%;
		}
	}
}
