.item {
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid #f5f5ff;
	border-radius: 16px;
	width: 250px;

	.image {
		height: 200px;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		right: 15px;
		transform: scale(0.5);

		img {
			position: relative;
		}
	}

	.title {
		text-align: center;
		font-weight: 600;
		font-size: 18px;
	}

	.priceBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 40px;

		.price {
			color: #5243c2;
			font-weight: 600;
		}

		.buttons {
			display: flex;
			gap: 10px;

			svg {
				width: 40px;
				height: 40px;
				cursor: pointer;

				path {
					stroke: #bcb9d3;
					transition: stroke 0.2s ease;
				}

				&.active {
					path {
						stroke: #5243c2;
					}
				}

				&:hover {
					path {
						stroke: #5243c2;
					}
				}
			}
		}
	}
}
