.footer {
  padding-top: 26px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #949BA6;
  line-height: 16px;
}

.footerLeft a {
  color: #5243C2;
}

.footerRight {
  display: flex;
  gap: 8px;
}