* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 20px;
	font-size: 16px;
	color: #1f2939;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	max-width: 1544px;
	margin: 0 auto;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
