.burgers {
	height: 100%;
	padding: 140px 10px 80px 10px;
	display: flex;
	flex-direction: column;
}

.categoryBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

	ul {
		display: flex;
		gap: 10px;

		li {
			color: #5243c2;
			background-color: #f5f5ff;
			border-radius: 30px;
			padding: 13px 30px;
			font-weight: 600;
			cursor: pointer;

			&.active {
				color: #f5f5ff;
				background-color: #5243c2;
			}
		}
	}

	.search {
		position: relative;

		svg {
			top: 18px;
			left: 15px;
			position: absolute;
			path {
				stroke: #949ba6;
			}
		}

		input {
			font-family: inherit;
			color: #1f2939;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;

			border-radius: 16px;
			width: 400px;
			padding: 16px 40px;
			border: none;
			outline: none;
			border: 1px solid rgba(0, 0, 0, 0.1);
			transition: border 0.2s ease;

			&::placeholder {
				color: #949ba6;
			}

			&:focus {
				border: 1px solid #5243c2;
			}
		}
	}
}

.sortBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 18px;
	border-bottom: 2px solid #f5f5ff;
	margin-bottom: 18px;

	h1 {
		font-weight: 600;
		font-size: 36px;
		line-height: 49px;
	}

	.sortBy {
		font-weight: 600;
		display: flex;
		gap: 5px;

		.sort {
			cursor: pointer;
			font-weight: 400;
			color: #5243c2;
			border-bottom: 1px solid #5243c2;
		}
	}
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	padding-right: 16px;
}

.item {
	margin: 0 auto;
	border: 2px solid #f5f5ff;
	border-radius: 16px;
	width: 250px;

	.image {
		height: 200px;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		right: 15px;
		transform: scale(0.5);

		img {
			position: relative;
		}
	}

	.title {
		text-align: center;
		font-weight: 600;
		font-size: 18px;
	}

	.priceBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 40px;

		.price {
			color: #5243c2;
			font-weight: 600;
		}

		svg {
			width: 40px;
			height: 40px;
			cursor: pointer;

			path {
				stroke: #bcb9d3;
				transition: stroke 0.2s ease;
			}

			&.active {
				path {
					stroke: #5243c2;
				}
			}

			&:hover {
				path {
					stroke: #5243c2;
				}
			}
		}
	}
}
